//
// Icon Font: knockfont
//

@font-face {
  font-family: "knockfont";
  src: url("../fonts/customfont/knockfont.eot");
  src: url("../fonts/customfont/knockfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/customfont/knockfont.woff") format("woff"),
       url("../fonts/customfont/knockfont.ttf") format("truetype"),
       url("../fonts/customfont/knockfont.svg#knockfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "knockfont";
    src: url("../fonts/customfont/knockfont.svg#knockfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-test:before {
  display: inline-block;
  font-family: "knockfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-test:before { content: "\f100"; }

$font-knockfont-test: "\f100";
